    /*............ Fonts ............*/
    
    body {
        font-family: 'open sans', sans-serif;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: 'poppins', 'open sans', sans-serif;
    }
    /*............ Colours ............*/
    
    .main-bg-dark {
        color: rgb(228, 217, 204);
        background-color: rgb(31, 29, 26);
    }
    
    .main-bg-color {
        color: rgb(31, 29, 26);
        background-color: rgb(161, 148, 131);
    }
    
    .bg-transpagent {
        background-color: rgba(228, 217, 204, 0.7);
    }
    
    nav,
    .navbar,
    .navbar-dark,
    .bg-dark,
    .nav-item,
    .dropdown-menu-dark,
    .sub-dropdown {
        color: rgb(228, 217, 204);
        background-color: rgb(31, 29, 26);
    }
    /*............ Paddings, margins etc ............*/
    
    .small-side-padding {
        padding: 0 10px;
    }
    
    .inline-block p {
        display: inline-block;
        vertical-align: middle;
        padding: 10px 0;
    }
    
    .front-page-all {
        width: 100%;
        margin: 0;
        padding: 0;
        height: fit-content;
    }
    
    .front-page-main {
        height: fit-content;
        padding: 20px;
        height: fit-content;
    }
    
    #front-page-headline {
        margin: 20px;
    }
    
    .other-page-headline,
    .other-page-second-headline {
        padding-left: 8px;
    }
    
    .other-page-main {
        padding: 20px;
        height: fit-content;
        border: 2px solid rgb(31, 29, 26);
        margin-bottom: 5vh;
    }
    
    .site-footer {
        margin: 0;
        padding: 0 10px;
    }
    /*............ Navbar ............*/
    
    .navbar,
    .navbar-toggler {
        border: 0;
    }
    /*... help with sub-menus on nav dropdown-menu found on 
https://bootstrap-menu.com/detail-multilevel.html (by Google-search)
This regards the next two CSS-rules, initially hiding the subcategories,
and then displaying them, when mouse hovering over parent category ...*/
    
    .sub-dropdown {
        display: none;
    }
    
    .dropdown-menu>li:hover>.sub-dropdown {
        display: block;
        position: absolute;
        left: 100%;
        top: -7px;
    }
    
    .dropdown-subcategory {}
    /*............ Front-page body ............*/
    
    .front-page-background {
        background-image: url(../images/other-images/bg-old-wall.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(161, 148, 131);
    }
    
    .front-page-headline-frame {
        height: fit-content;
        width: 100%;
        vertical-align: center;
        position: relative;
        clear: both;
        padding: 5vh 10px;
        border: 2px solid rgb(31, 29, 26);
        margin: 10vh 0 5vh;
    }
    
    .front-page-portfolio {
        height: fit-content;
        padding: 1vh 10px;
    }
    
    .design-areas {
        height: 200px;
        width: 180px;
        border: 2px solid rgb(31, 29, 26);
        background-color: rgb(78, 65, 47);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 200px 200px;
        padding: 0;
        margin: 10px;
    }
    
    .headline-on-image {
        width: 100%;
    }
    
    .all-clickable {
        width: 100%;
        text-decoration: none;
    }
    
    .all-clickable> {
        color: rgb(31, 29, 26);
    }
    
    #front-page-fashion {
        background-image: url('../images/fashion-images/denim1895/4\ anno\ 2\ Denim\ 9_2.jpg');
    }
    
    #front-page-interior {
        background-image: url('../images/interior-images/KAV15/KAV15_01focused2.png');
    }
    
    #front-page-product {
        background-image: url('../images/product-images/Beam-lamp_01/Beam-lamp_01_01focused2.png');
    }
    
    #front-page-art {
        background-image: url('../images/art-images/Human-rights-T-shirt/Human-Right-T-shirt1.1.png');
    }
    /*............ Other-page body ............*/
    
    .other-page-headline-frame {
        border: 2px solid rgb(31, 29, 26);
        margin-top: 7vh;
        margin-bottom: 5vh;
    }
    
    .about-image-portrait {
        max-height: 50%;
        max-width: 50%;
        border: 2px solid rgb(31, 29, 26);
        display: inline-block;
    }
    /*............ Portfolio-pages ............*/
    
    .portfolio-heading {
        padding: 20px 0;
    }
    
    .portfolio-main-area {
        padding: 5px;
    }
    
    .portfolio-card {
        border-color: rgb(31, 29, 26);
        margin: 10px 5px;
    }
    /*............ Footer ............*/
    
    footer div p {
        margin: 2px 5px;
    }
    
    footer .social-links {
        margin: 2px 5px;
    }