/*............ Fonts ............*/

body {
    font-family: 'open sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'poppins', 'open sans', sans-serif;
}


/*............ Colours ............*/

.main-dark {
    color: white;
    background-color: rgb(34, 31, 27);
}


/*............ Paddings, margins etc ............*/

.dropdown-subcategory {
    padding: 0;
}

.inline-block {
    display: inline-block;
}

.site-footer {
    margin: 0;
}


/*............ Navbar ............*/


/*... help with sub-menus on nav dropdown-menu found on 
https://bootstrap-menu.com/detail-multilevel.html (by Google-search)
This regards the next two CSS-rules, initially hiding the subcategories,
and then displaying them, when mouse hovering over parent category...*/

.sub-dropdown {
    display: none;
}

.dropdown-menu>li:hover>.sub-dropdown {
    display: block;
    position: absolute;
    left: 100%;
    top: -7px;
}


/*............ Front-page body ............*/

.front-page-main {
    height: 80vh;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgb(97, 67, 119);
}

.front-page-headline-frame {
    height: 40vh;
    vertical-align: center;
    position: relative;
    clear: both;
    padding: 10vh 20px;
}

#front-page-headline {
    margin: 20px;
}

.front-page-portfolio {
    height: 40vh;
}

.design-areas {
    display: inline-block;
    height: 200px;
    width: 180px;
    padding: 50px 30px;
}

#front-page-fashion {
    background: green url('') top center / 200px 200px no-repeat;
    border: 2px solid black;
    vertical-align: center;
    display: inline-block;
}

#front-page-interior {
    background: rgb(126, 96, 33) url('') top center / 200px 200px no-repeat;
    border: 2px solid black;
    vertical-align: center;
    display: inline-block;
}

#front-page-product {
    background: rgb(133, 36, 153) url('') top center / 200px 200px no-repeat;
    border: 2px solid black;
    vertical-align: center;
    display: inline-block;
}

#front-page-art {
    background: rgb(241, 178, 40) url('') top center / 200px 200px no-repeat;
    border: 2px solid black;
    vertical-align: center;
    display: inline-block;
}


/*............ Footer ............*/

footer div p {
    margin: 2px 5px;
}

footer .social-links {
    margin: 2px 5px;
}